body {
    font-family: "Verdana", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #804a03;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}
.quokka-brown{
  background-color: #422808;
  color: white;
}

.btn-red {
    background-color: #FF0000 !important;
    color: #fff;
}

section {
    color: #fff;
    text-align: center;
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 50%;
}

.right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 50%;
}

.pagination {
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px;
}

#page {
    padding: 10px;
}

.search-form {
    display: flex;
}

.long-search-input {
    width: 400px; 
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
    border: none;
    outline: none;

}
.custom-right-border-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-quokka {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-container {
    margin: auto;
    padding: 50px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.product-image img {
    max-width: 100%;
    /* display:block; */
    height: auto;
    text-align: left;
}

.product-details {
    flex: 1;
    padding: 20px;
}

#product-info {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-image-parent {
    order: 1;
    width: 50%;
    display: flex;
}

.item-info-parent {
    order: 2;
    width: 50%;
}

.item-list-vertical {
    order: 1;
    width: 10%;
    overflow-y: auto;
    margin-top: 50px;
}

.item-image-main {
    order: 2;
    width: 90%;
    height: 100%;
}


.thumb-box {
    width: 75%;
    margin: 10px auto;
    background: white;
    border: 1px solid gray;
}
.thumb-box img {
    width: 100%;
    height: 100%;
}

.item-image-main img {
    width: 100%;
    height: auto;
}

.thumb-box:hover {
    cursor: pointer;
    border-color: #e77600;;
    box-shadow: 0px 1px 5px 1px #e77600;
}

.main-info h4{
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 400;
    width:70%;
}

.star-rating {
    width: 25%;
    margin-left: 25px;
    color: gray;
    font-size: 24px;
    border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
    text-align:center;
}

.star-rating span {
    color: gold;
    text-align:center;
}

.main-info p {
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

#price {
    color: rgb(168, 14, 14);
    font-size: 21px;
}

.change-color {
    margin-bottom: 10px;
}

.change-color .thumb-box{
    margin: 10px 10px 10px 0;
    width: 40px;
    display: inline-block;
}

.change-size select {
    padding: 5px 10px;
    border-radius: 4px;
    border-color: rgb(189, 189, 189);
    margin-top: 10px;
}

.description{
    margin-top:25px;
    padding-left: 17px;
    font-size: 15px;
    line-height: 1.3rem;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 23%; /* Adjust the width as needed to fit 4 cards in a row */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 10px;
  }
  .card-image {
    width: 90%;
    display: block;
    margin: auto;
  }
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #777;
  }
  
  form {
    margin-top: 10px;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  /* Add your styles to a separate CSS file or include them in the HTML head */
.category-banner {
    background-color: #f2f2f2;
    padding: 10px;
}

.category-banner h2 {
    color: #333;
}

.category-banner ul {
    list-style-type: none;
    padding: 0;
}

.category-banner li {
    display: inline-block;
    margin-right: 10px;
}

.category-banner a {
    text-decoration: none;
    color: #007bff;
}

/* no longer need the following dropdown menu after changing feedback tables to DataTables */
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #137a56;
}

.category {
    text-align: center;
    margin: 10px;
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.category-name {
    margin-top: 5px;
    font-weight: bold;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

