body {
    font-family: "Verdana", sans-serif;
}

a {
    color:#137a56;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #804a03;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.btn-gray-inventory{
  border: none;
  color: white;
  background-color: gray;
}

.btn-gray-inventory:hover {
  color:white;
  text-decoration: none;
  background-color: rgb(70, 70, 70);
}


.quokka-brown{
  background-color: #422808;
  color: white;
}

.btn-red {
    background-color: #FF0000 !important;
    color: #fff;
}

section {
    color: #fff;
    text-align: center;
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 50%;
}

.right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 50%;
}

.pagination {
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px;
}

#page {
    padding: 10px;
}

.search-form {
    display: flex;
}

.long-search-input {
    width: 700px; 
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
    border: none;
    outline: none;

}
.custom-right-border-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-quokka {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-container {
    margin: auto;
    padding: 50px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.product-image img {
    max-width: 100%;
    /* display:block; */
    height: auto;
    text-align: left;
}

.product-details {
    flex: 1;
    padding: 20px;
}

#product-info {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-image-parent {
    order: 1;
    width: 50%;
    display: flex;
}

.item-info-parent {
    order: 2;
    width: 50%;
}

.item-list-vertical {
    order: 1;
    width: 10%;
    overflow-y: auto;
    margin-top: 50px;
}

.item-image-main {
    order: 2;
    width: 90%;
    height: 100%;
}


.thumb-box {
    width: 75%;
    margin: 10px auto;
    background: white;
    border: 1px solid gray;
}
.thumb-box img {
    width: 100%;
    height: 100%;
}

.item-image-main img {
    width: 100%;
    height: auto;
}

.thumb-box:hover {
    cursor: pointer;
    border-color: #e77600;
    box-shadow: 0px 1px 5px 1px #e77600;
}

.main-info h4{
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 400;
    width:70%;
}

.star-rating {
    width: 25%;
    margin-left: 25px;
    color: gray;
    font-size: 24px;
    border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
    text-align:center;
}

.star-rating span {
    color: gold;
    text-align:center;
}

.main-info p {
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

.change-color {
    margin-bottom: 10px;
}

.change-color .thumb-box{
    margin: 10px 10px 10px 0;
    width: 40px;
    display: inline-block;
}

.change-size select {
    padding: 5px 10px;
    border-radius: 4px;
    border-color: rgb(189, 189, 189);
    margin-top: 10px;
}

.description{
    margin-top:25px;
    padding-left: 17px;
    font-size: 15px;
    line-height: 1.3rem;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 25%; /* Adjust the width as needed to fit 4 cards in a row */
    margin-bottom: 20px;
    padding: 0px;
    border:none;
  }
  
  .card-body {
    padding: 10px;
  }
  .card-image {
    width: 100%;
    height: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 2%;
  }
  
  .card:hover .card-image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: #333;
    margin-top: 0px;
    padding-top: 5px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #777;
  }
  
  form {
    margin-top: 10px;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  /* Add your styles to a separate CSS file or include them in the HTML head */
.category-banner {
    display: flex;
    background-color: #804a03;
    justify-content: left;
    padding-left: 10px;
}

.category-banner a {
    text-decoration: none;
    color: #007bff;
}

.category {
    text-align: center;
    margin: 10px;
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.category-name {
    margin-top: 5px;
    font-weight: bold;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.banner-header{
    display: flex;
    justify-content: center;
    background-color: #804a03;
    margin: auto;
}
.tab-banner {
    margin: auto;
    color: white;
    align-items: center;
    background-color: #804a03;
    margin: 15px;
    margin-top: 0px;
}
.tab-banner:hover{
    background-color: #a76c20;
    color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #804a03;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 15px;
    margin-top: 0px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #a76c20;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .cat-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .cat-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow:scroll; 
    border-radius: 10%;
  }

  .cat-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .cat-dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}

  .index-div {
    margin: 20px 50px 20px 50px;
  }
  .page-div {
    margin: 20px 20px 20px 20px;
  }
  
  textarea {
    height: 100%;
    width: 800px;

  }

  #cat-title{
    text-align: center;
    margin-bottom: 50px;
  }

  #filter-sort{
    width:100%;
    margin-bottom: 20px;
  }
  #sort-form{
    display: inline-block;
    margin-right: 20px;
  }

.add-product-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-form input[type="text"],
.add-product-form textarea,
.add-product-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-product-form input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
}

.add-product-form input[type="submit"] {
    background-color: #a76c20;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-product-form input[type="submit"]:hover {
    background-color: #804a03;
}

.add-product-form h1 {
    text-align: center;
    color: #333;
}

.add-product-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */


  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  min-height: 50vh;
  display: flex;
  flex-direction: column; 
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */


  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.chart {
    display: inline-block;
    margin: 0 auto;
    height: 400px;
    width: 40vw;
}

#edit-image {
  max-width: 100%;
}

#feedback-image {
  max-width: 200px;
}

.add-product-form {
  max-width: 500px;
}
