<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sale.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  

</head>

<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Prevent Double clicks 
  document.querySelectorAll('form').forEach(form => {
    form.addEventListener('submit', (e) => {
      // Prevent if already submitting
      if (form.classList.contains('is-submitting')) {
        e.preventDefault();
      }
      
      // Add class to hook our visual indicator on
      form.classList.add('is-submitting');
    });
  });
  
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("cat-dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
    var anchors = document.getElementsByTagName('a');

    for(var i = 0, len = anchors.length; i < len; i++) {
      var thisAnchor = anchors[i];
        thisAnchor.onclick = function () {
            var btn = this.parentNode.parentNode.getElementsByTagName('button')[0];
            btn.innerHTML = this.innerHTML;
      }
    }
  }
</script>
<body>
  <div class="sidenav">
    {% block msg %}
      <img class = "header-quokka" src="/static/images/banner.jpg" alt = "5 images of quokkas smiling and eating" width="1280" height = "200">
      <br><br>
      <header>
        <div class = "header-content">
          <h3 style="color:rgb(255, 255, 255)"><a href="{{ url_for('index.index') }}" style = "color: white;">Quokkazon</a></h3>
          <form action="{{ url_for('products.search_results') }}" method="POST" class="search-form">
            <input class="long-search-input" type="text" name="search_term" value="{{ search_term }}" placeholder=" Search for a product">
            <button type="submit" class="btn btn-light custom-right-border-radius">
                <i class="fas fa-search"></i> 
            </button>
        </form>
          <div style="color: aliceblue; text-align: right;">
            {% if current_user.is_authenticated %}
              Hello {{current_user.firstname}}! <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
              <a href="{{ url_for('cart.cart') }}" type="button" class="btn btn-light">Cart</a>
            {% else %}
              <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
            {% endif %}
          </div>
      </div>
    </header>
    {% endblock %}
  </div>
  <header class="banner-header">
    <div class="cat-dropdown">
      <button onclick="myFunction()" class="btn dropbtn">Categories</button>
      <div id="myDropdown" class="cat-dropdown-content">
        <a href="{{ url_for('products.products') }}"> All </a>
        {% for category in categories %}
            <a href="{{ url_for('categories.category_products', category_id=category.cid) }}">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
    <a href="{{ url_for('userlookup.lookup') }}" type="button" class="btn tab-banner">User Lookup</a>
    {% if current_user.is_authenticated%}
    {% if is_seller%}
      <a href="{{ url_for('allpurchases.orders') }}" type="button" class="btn tab-banner">Seller Orders</a>
      <a href="{{ url_for('inventory.inventory') }}" type="button" class="btn tab-banner">My Inventory</a>
      
    {% endif %}
    <a href="{{ url_for('feedback.my_feedback',uid=current_user.id) }}" type="button" class="btn tab-banner">My Feedback</a>
    <a href="{{ url_for('messages.my_messages') }}" type="button" class="btn tab-banner">My Messages</a>
    <a href="{{ url_for('profile.my_profile') }}" type="button" class="btn tab-banner">My Profile</a>
     {% endif %}
  </header>
  <div>
    {% block content %}{% endblock %}
  </div>
</body>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Quokkazon.com <i>WE LOVE QUOKKAS</i> A supportive and lively marketplace for all things Quokkas. For quokka lovers and enthusiasts. For quokkas themselves.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://sites.duke.edu/compsci_316d_001_f23/schedule/">CS316 Website</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a href="#">Quokkazon</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

</html>
