{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Order</h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Seller</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Date Fulfilled</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.order_id}}</td>
        <td>{{item.sid}}: 
          <a href="{{ url_for('feedback.seller_personal', seller_id=item.sid, logged_in=1)}}">{{ seller_names[item.sid] }}</a></td>
        <td>{{item.pid}}: 
          <a href="{{ url_for('products.product_detail',product_id=item.pid,logged_in=1) }}">{{product_names[item.pid]}}</a></td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>{{item.date_fulfilled}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your order!</p>
{% endif %}
<h2> Final Price: ${{totalprice}}</h2>
{% endblock %}
