{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>My Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Saved For Later</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.sid}}</td>
        <td>{{item.pid}}</td>
        <td>{{item.quantity}} <form action="{{ url_for('cart.cart_update_quantity', quantity=quantity, product_id=item.pid, seller_id=item.sid)}}"
          method="POST">
          Change Quantity: <input type="text" name="quantity">
          <input type="hidden" name="product_id" value="{{item.pid}}"/> 
          <input type="hidden" name="seller_id" value="{{item.sid}}"/> 
          <input type="submit" value="Update">
      </form></td>
        <td>{{item.price}}</td>
        <td>{{item.saved_for_later}}</td>
        <td>
          <form action="{{ url_for('cart.cart_remove', seller_id=item.sid, product_id=item.pid)}}"
            method="POST">
            <input type="hidden" name="product_id" value="{{item.pid}}"/> 
            <input type="submit" value="Remove"/> 
          </form></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}
<h2> Total Price: ${{totalprice}}</h2>
{% endblock %}
