{% extends "base.html" %}

{% block content %}

<header class="banner-header">
  <div class="cat-dropdown">
    <button onclick="myFunction()" class="btn dropbtn">Categories</button>
    <div id="myDropdown" class="cat-dropdown-content">
      <a href="{{ url_for('products.products') }}"> All </a>
      {% for category in categories %}
          <a href="{{ url_for('categories.category_products', category_id=category.cid) }}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  <a href="{{ url_for('userlookup.lookup') }}" type="button" class="btn tab-banner">User Lookup</a>
  {% if current_user.is_authenticated%}
  {% if is_seller%}
    <a href="{{ url_for('allpurchases.orders') }}" type="button" class="btn tab-banner">My Orders</a>
    <a href="{{ url_for('inventory.inventory') }}" type="button" class="btn tab-banner">My Inventory</a>
    
  {% endif %}
  <a href="{{ url_for('feedback.my_feedback',uid=current_user.id) }}" type="button" class="btn tab-banner">My Feedback</a>
  <a href="{{ url_for('messages.my_messages') }}" type="button" class="btn tab-banner">My Messages</a>
  <a href="{{ url_for('profile.my_profile') }}" type="button" class="btn tab-banner">My Profile</a>
   {% endif %}
</header>
</br>
<div class="index-div">
  <div id="SaleBanner">

    <div id="SaleBannerWrapper">
      <a href="#" class="Left">
        <div class="textarea"> 
           <h1> Sale <span> quoliday25 </span></h1>  
           <h2>
             <span class="Text1">up to</span>
             <span class="Text2">25</span>
             <span class="Text3">%</span>
             <span class="Text4">Off</span>
           </h2> 
        </div>
      </a>
      
    <div class="Right">
        <nav > 
           <a href="{{ url_for('categories.category_products', category_id=7) }}" class="hvr-fade Top Left Bottom">Clothing</a>
           <a href="{{ url_for('categories.category_products', category_id=2) }}" class="hvr-fade Top Right Bottom">Kitchenware</a>
           <a href="{{ url_for('categories.category_products', category_id=8) }}" class="hvr-fade Left Bottom">Books</a>
           <a href="{{ url_for('categories.category_products', category_id=22) }}" class="hvr-fade Right Bottom">Footwear</a>
           <a href="{{ url_for('categories.category_products', category_id=13) }}" class="hvr-fade Left">Home Decor</a>
           <a href="{{ url_for('categories.category_products', category_id=16) }}" class="hvr-fade Right">Office Supplies</a>
           <a href="{{ url_for('products.products')}}" class="hvr-fade Button">Shop All</a>
         </nav>
    </div>
    
    </div>
  </div>
<h2>Top selling products:</h2>

<div class="card-container">
  {% for product in avail_products %}
    <div class="card">
      <div class="card-body">
        <img class = "card-image" src="{{url_for('static', filename=product.image)}}" alt="default" />
        <h5 class="card-title">Product ID: {{ product.pid }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <a href="{{ url_for('products.product_detail',product_id=product.pid) }}">{{ product.name }}</a>
        </h6>
        <p class="card-text">
          {% if product.pid in product_prices %}
            {% for price in product_prices[product.pid] %}
              ${{ price }}<br>
            {% endfor %}
          {% else %}
            Not in stock
          {% endif %}
          {% if product.pid in summary %}
            <p>Rating: {{summary[product.pid][0]}} by {{summary[product.pid][1]}} users</p>
          {% endif %}
        </p>
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('wishlist.wishlist_add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Wishlist">
          </form>
          {% if is_seller%}
          <form action="{{ url_for('inventory.add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Inventory"/> 
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if loop.index % 4 == 0 %}
      <div class="clearfix"></div> <!-- Add clearfix every 4 cards to start a new row -->
    {% endif %}
  {% endfor %}
</div>
</br></br>
<h2> Recently Viewed: </h2>
<div class="card-container">
  {% for product in recent %}
    <div class="card">
      <div class="card-body">
        <img class = "card-image" src="{{url_for('static', filename=product.image)}}" alt="default" />
        <h5 class="card-title">Product ID: {{ product.pid }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <a href="{{ url_for('products.product_detail',product_id=product.pid) }}">{{ product.name }}</a>
        </h6>
        <p class="card-text">
          {% if product.pid in product_prices %}
            {% for price in product_prices[product.pid] %}
              ${{ price }}<br>
            {% endfor %}
          {% else %}
            Not in stock
          {% endif %}
          {% if product.pid in summary %}
            <p>Rating: {{summary[product.pid][0]}} by {{summary[product.pid][1]}} users</p>
          {% endif %}
        </p>
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('wishlist.wishlist_add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Wishlist">
          </form>
          {% if is_seller%}
          <form action="{{ url_for('inventory.add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Inventory"/> 
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if loop.index % 4 == 0 %}
      <div class="clearfix"></div> <!-- Add clearfix every 4 cards to start a new row -->
    {% endif %}
  {% endfor %}
</div>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Manage Feedback</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <td>{{purchase.pid}}</td>
        <th>
        <a href="{{ url_for('products.product_detail',product_id=purchase.pid) }}">
        {{products_purchased[purchase.pid]}}</a>
        </th>
        <td>{{purchase.time_purchased}}</td>
        <td>
          {% if feedback_exists[purchase.pid] %}
          <form action="{{ url_for('feedback.product_feedback_edit', product_id=purchase.pid) }}"
                method="POST">
                <input type="submit" value="Edit" style="background-color: #137a56; color: #ffffff"/> 
          </form>
          {% else %}
          <form action="{{ url_for('feedback.product_submission_form', product_id=purchase.pid,name=products_purchased[purchase.pid]) }}"
                method="POST">
                <input type="submit" value="Add" style="background-color: darkred; color: #ffffff"/> 
          </form>
          {% endif %}
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history and feedback!</p>

{% endif %}
</div>

{% endblock %}
