{% extends "base.html" %}

{% block content %}

<br>
<div style="color: aliceblue; text-align: right; margin-bottom: 25px">
  {% if current_user.is_authenticated%}
  {% if is_seller%}
    <a href="{{ url_for('allpurchases.orders') }}" type="button" class="btn btn-dark">My Orders</a>
    <a href="{{ url_for('inventory.inventory') }}" type="button" class="btn btn-dark">My Inventory</a>
  {% endif %}
  <a href="{{ url_for('feedback.my_feedback') }}" type="button" class="btn btn-dark">My Feedback</a>
  <a href="{{ url_for('profile.my_profile') }}" type="button" class="btn btn-dark">My Profile</a>
   {% endif %}


</div>
</form>

<h2><a href="{{ url_for('products.products') }}" style = "color: #804a03">Top selling products:</a></h2>

<div class="card-container">
  {% for product in avail_products %}
    <div class="card">
      <div class="card-body">
        <img class = "card-image" src="{{url_for('static', filename=product.image)}}" alt="default" />
        <h5 class="card-title">Product ID: {{ product.pid }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('products.product_detail',product_id=product.pid,logged_in=1) }}">{{ product.name }}</a>
          {% else %}
          <a href="{{ url_for('products.product_detail',product_id=product.pid,logged_in=0) }}">{{ product.name }}</a>
          {% endif %}
        </h6>
        <p class="card-text">
          {% if product.pid in product_prices %}
            {% for price in product_prices[product.pid] %}
              ${{ price }}<br>
            {% endfor %}
          {% else %}
            Not in stock
          {% endif %}
          {% if product.pid in summary %}
            <p>Rating: {{summary[product.pid][0]}} by {{summary[product.pid][1]}} users</p>
          {% endif %}
        </p>
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('wishlist.wishlist_add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Wishlist">
          </form>
          {% if is_seller%}
          <form action="{{ url_for('inventory.add', product_id=product.pid) }}" method="POST">
            <input type="submit" value="Add to Inventory"/> 
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if loop.index % 4 == 0 %}
      <div class="clearfix"></div> <!-- Add clearfix every 4 cards to start a new row -->
    {% endif %}
  {% endfor %}
</div>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Manage Feedback</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <td>{{purchase.pid}}</td>
        <td>
        <a href="{{ url_for('products.product_detail',product_id=purchase.pid,logged_in=1) }}">
        {{products_purchased[purchase.pid]}}</a>
        </td>
        <td>{{purchase.time_purchased}}</td>
        <td>
          {% if feedback_exists[purchase.pid] %}
          <form action="{{ url_for('feedback.product_feedback_edit', product_id=purchase.pid) }}"
                method="POST">
                <input type="submit" value="Edit"/> 
          </form>
          {% else %}
          <form action="{{ url_for('feedback.product_submission_form', product_id=purchase.pid,name=products_purchased[purchase.pid]) }}"
                method="POST">
                <input type="submit" value="Add"/> 
          </form>
          {% endif %}
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history and feedback!</p>

{% endif %}

{% endblock %}
