{% extends "base.html" %}

{% block content %}

<br>
<div style="color: aliceblue; text-align: right; margin-bottom: 25px">
  {% if current_user.is_authenticated and is_seller%}
    <a href="{{ url_for('inventory.inventory') }}" type="button" class="btn btn-dark">My Inventory</a>
    <a href="{{ url_for('feedback.my_feedback') }}" type="button" class="btn btn-dark">My Feedback</a>
  {% endif %}

</div>
<form action="/allpurchases">
  <button id = "purchases" button style = "height:50px;width:100px;margin:5px;">User Milestone</button>
</form>

<h2><a href="{{ url_for('products.products') }}" style = "color: #804a03">Products for sale:</a></h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Number of Ratings</th>
      <th scope="col">See Feedback</th>
      {% if current_user.is_authenticated %}
      <th scope="col">Add To Wishlist</th>
      <th scope="col">View Sellers</th>
      {% endif %}
      
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <td>{{product.pid}}</td>
        <td>{{product.name}}</td>
        {% if product.pid not in summary %}
        <td></td>
        <td></td>
        <td></td>
        {% else %}
        <td>{{summary[product.pid][0]}}</td>
        <td>{{summary[product.pid][1]}}</td>
        <td> 
          <form action="{{ url_for('feedback.product_feedback') }}"
          method="POST">
            <input type="hidden" id="pid" name="pid" value="{{product.pid}}">
            <input type="hidden" id="name" name="name" value="{{product.name}}">
              <input type="submit" value="Feedback"/> 
          </form>
        </td>
        {% endif %}
        {% if current_user.is_authenticated %}
        <td>
            <form action="{{ url_for('wishlist.wishlist_add', product_id=product.pid) }}"
                  method="POST">
                  <input type="submit" value="+"/> 
            </form>
        </td>
        <td>
          <form action="{{ url_for('cart.cart_select', product_id=product.pid)}}"
                method="POST">
                <input type="submit" value="View"/> 
          </form>
        </td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>


<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Purchase ID</th>
      <!-- <th scope="col">Product Name</th> -->
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <td>{{purchase.pid}}</td>
        <!-- <td>{{purchase.name}}</td> -->
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history and feedback!</p>

{% endif %}

{% endblock %}
