{% extends "base.html" %}

{% block content %}

<br>
<div style="color: aliceblue; text-align: right; margin-bottom: 25px">
  {% if current_user.is_authenticated and is_seller %}
    <a href="{{ url_for('index.index') }}" type="button" class="btn btn-dark">Add items</a>
  {% endif %}
  <!--<a href="{{ url_for('index.index') }}" type="button" class="btn btn-dark">Home</a>-->
</div>

{% if current_user.is_authenticated %}
  {% if is_seller %}
  <h2>My Inventory:</h2>
  <style>
    .dropdown {
      display: inline-block;
      position: relative;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
      display: block;
      background-color: #ffffff;
      color: #000000;
      padding: 5px;
      text-decoration: none;
    }
    .dropdown-content a:hover {
      color: #FFFFFF;
      background-color: #137a56;
    }
    </style>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function(){ $('#sortable').DataTable(); });
  </script>
  
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="color:red">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>

  <table class='table table-hover table-bordered container' id='sortable'>
    <thead class="quokka-brown">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Number for sale</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in avail_inventory %}
        <tr>
          <th scope="row">{{product_class.get_name(item.pid)}}</th>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.num_for_sale}}</td>
          <td>
              <form action="{{ url_for('inventory.edit', product_id=item.pid, oq=item.quantity, on=item.num_for_sale, op=item.price) }}">
                    <input type="submit" value="Edit"/> 
              </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p align="center">Only registered sellers can have an inventory!</p>
  {% endif %}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your inventory!</p>
{% endif %}

{% endblock %}
