{% extends "base.html" %}

{% block content %}
<!-- Scroll Button -->
<script> 
    function scrolldiv(id) { 
      window.scroll(0, 
      findPosition(document.getElementById(id))); 
    } 
    function findPosition(obj) { 
      var currenttop = 0; 
      if (obj.offsetParent) { 
        do { 
          currenttop += obj.offsetTop; 
        } while ((obj = obj.offsetParent)); 
        return [currenttop]; 
      } 
    } 
  </script> 

<div class="page-div">
    <h2>Message Thread with 
        <a href="{{ url_for('feedback.public_profile', user_id=other_user) }}">{{other_user_name}}</a>
    </h2>
    <button onclick="scrolldiv('new_message')" >Scroll to Bottom</button> 

    <table class='table table-hover table-bordered container'>
        <thead class="quokka-brown">
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Recipient</th>
            <th scope="col">Message</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          {% for item in messages %}
            <tr>
              <td>
                {% if item.sender == current_user.id%}
                Me
                {% else %}
                {{item.sname}}
                {% endif %}
              </td>
              <td>
                {% if item.recipient[0] == current_user.id%}
                Me
                {% else %}
                {{item.rname}}
                {% endif %}
              </td>
              <td>{{item.msg}}</td>
              <td>{{item.date_time}} <p style = "color:#804a03;">{{humanize_time(item.date_time)}}</p></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div id="new_message">
      <!-- Submit new messages -->
      <form action="{{ url_for('messages.new_message') }}" method="POST">
        <label id="message">New Message:</label>
        <br>
        <input type="hidden" id="other_user" name="other_user" value="{{other_user}}">
        <textarea id="message" name="message" rows="4" cols="50" REQUIRED></textarea>
        <input type="submit" value="Submit"> 
        </form>
        </div>
    </div>
{% endblock %}