{% extends "base.html" %}

{% block content %}
<br>
<!-- Scroll Button -->
<script> 
  function scrolldiv(id) { 
    window.scroll(0, 
    findPosition(document.getElementById(id))); 
  } 
  function findPosition(obj) { 
    var currenttop = 0; 
    if (obj.offsetParent) { 
      do { 
        currenttop += obj.offsetTop; 
      } while ((obj = obj.offsetParent)); 
      return [currenttop]; 
    } 
  } 
</script> 
<div class="page-div">

{% if current_user.id == uid %}
<h2>My Feedback History</h2>
{% else %}
<h2><a href="{{ url_for('feedback.public_profile', user_id=uid)}}">{{name}}'s</a>
   Feedback History</h2>
{% endif %}
<br>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    // initialize a DataTable sorted by the 'Last Updated' column 
    // in reverse chronological order by default. Break ties alphabetically by name. 
    new DataTable($('#sortable_products'), {
      order: [[4, 'desc'],[0,'asc']] 
    });
    new DataTable($('#sortable_sellers'), {
      order: [[4, 'desc'],[0,'asc']] 
    });
  })
</script>

  <div id="products">
  <h3>For Products:</h3>
  <button onclick="scrolldiv('sellers')" >Scroll to Seller Feedback</button> 
  <table class='table table-hover table-bordered container' id="sortable_products">
    <thead class="quokka-brown">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Upvotes for Review</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Image</th>
        {% if current_user.id == uid %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in pfeedback %}
        <tr>
          <td>
            <a href="{{ url_for('products.product_detail',product_id=item.pid) }}">{{item.name}}</a>
          </td>
          <td>{{item.rating}}</td>
          <td>{{item.review}}</td>
          <td>{{pupvotes[(item.uid,item.pid)]}}
            {% if current_user.is_authenticated %}
              {% if my_pupvotes[(item.uid,item.pid)] %}
              <form action="{{ url_for('feedback.remove_upvote_product_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="reviewed" value="{{ item.pid }}"/>
                {% if current_user.id == uid %}
                <input type="hidden" name="page" value="myfeedback"/>
                {% else %}
                <input type="hidden" name="page" value="publicfeedback"/>
                <input type="hidden" name="uid" value="{{uid}}"/>
                {% endif %}
                <input type="submit" value="Upvoted &#8593;" style="background-color: #137a56; color: #ffffff"/> 
              </form>
              {% else %}
              <form action="{{ url_for('feedback.upvote_product_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="reviewed" value="{{ item.pid }}"/>
                {% if current_user.id == uid%}
                <input type="hidden" name="page" value="myfeedback"/>
                {% else %}
                <input type="hidden" name="page" value="publicfeedback"/>
                <input type="hidden" name="uid" value="{{uid}}"/>
                {% endif %}
                <input type="submit" value="Upvote &#8593;" /> 
              </form>
              <br>
              {% endif %}
            {% endif %}
          </td>
          <td>{{item.date_time}} <p style = "color:#804a03;">{{humanize_time(item.date_time)}}</p></td>
          <td>  
            {% if item.image %}
            <img id="feedback-image" src="{{ url_for('static', filename=item.image) }}">
            {% endif %}
          </td>
          {% if current_user.id == uid %}
          <td>
            <form action="{{ url_for('feedback.product_feedback_edit', product_id=item.pid) }}"
                  method="POST">
                  <input type="submit" value="Edit" style="background-color: #137a56; color: #ffffff"/> 
            </form>
        </td>
          {% endif %} 
    
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <div id="sellers">
  <h3>For Sellers:</h3>
  <button onclick="scrolldiv('products')">Scroll to Product Feedback</button> 
  <table class='table table-hover table-bordered container' id='sortable_sellers'>
    <thead class="quokka-brown">
      <tr>
        <th scope="col">Seller's Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Upvotes for Review</th>
        <th scope="col">Last Updated</th>
        {% if current_user.id == uid %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in sfeedback %}
        <tr>
          <td>
          <a href="{{ url_for('feedback.public_profile', user_id=uid)}}">{{ item.name }}</a>
          </td>
          <td>{{item.rating}}</td>
          <td>{{item.review}}</td>
          <td>{{supvotes[(item.uid,item.sid)]}}
            {% if current_user.is_authenticated %}
              {% if my_supvotes[(item.uid,item.sid)] %}
              <form action="{{ url_for('feedback.remove_upvote_seller_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="seller" value="{{ item.sid }}"/>
                {% if current_user.id == uid%}
                <input type="hidden" name="page" value="myfeedback"/>
                {% else %}
                <input type="hidden" name="page" value="publicfeedback"/>
                <input type="hidden" name="uid" value="{{uid}}"/>
                {% endif %}
                <input type="submit" value="Upvoted &#8593;" style="background-color: #137a56; color: #ffffff"/> 
              </form>
              {% else %}
              <form action="{{ url_for('feedback.upvote_seller_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="seller" value="{{ item.sid }}"/>
                {% if current_user.id == uid%}
                <input type="hidden" name="page" value="myfeedback"/>
                {% else %}
                <input type="hidden" name="page" value="publicfeedback"/>
                <input type="hidden" name="uid" value="{{uid}}"/>
                {% endif %}
                <input type="submit" value="Upvote &#8593;" /> 
              </form>
              <br>
              {% endif %}
            {% endif %}
          </td>
          <td>{{item.date_time}} <p style = "color:#804a03;">{{humanize_time(item.date_time)}}</p></td>
          {% if current_user.id == uid %}
          <td>
            <form action="{{ url_for('feedback.seller_feedback_edit', seller_id=item.sid) }}"
                  method="POST" >
                  <input type="submit" value="Edit" style="background-color: #137a56; color: #ffffff"/> 
            </form>
        </td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
  {% endblock %}
  
  
  