{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<head>
    <style>
    textarea {
        height: 100%;
        width: 800px;

    }
    </style>
</head>
<body>   
<br><br>
<!-- Product Feedback Editing Page -->
{% if type == "product" %}
<a style="color:grey;" href="{{ url_for('products.product_detail',product_id=product_id) }}"> < Product Details</a>

<h4>My Feedback for Product {{product_id}}: {{name}}</h4>

<form action="{{ url_for('feedback.product_add_feedback') }}" method="POST">
    <label id="rating">Rating:</label>
    <input type="number" name="rating" id="rating" REQUIRED>
    <input type="hidden" id="pid" name="pid" value="{{product_id}}">
    <br>
    <label id="review">Review:</label>
    <br>
    <textarea id="review" name="review" rows="4" cols="50"></textarea>
    <input type="submit" value="Submit"> 
    </form>
{% elif type == "seller" %}
<a style="color:grey;" href="{{ url_for('feedback.seller_personal', seller_id=seller_id) }}"> < Seller's Profile</a>
<h4>My Feedback for Seller {{seller_id}}: {{name}}</h4>
<form action="{{ url_for('feedback.seller_add_feedback') }}" method="POST">
    <label id="rating">Rating:</label>
    <input type="number" name="rating" id="rating" REQUIRED>
    <input type="hidden" id="sid" name="sid" value="{{seller_id}}">
    <br>
    <label id="review">Review:</label>
    <br>
    <textarea id="review" name="review" rows="4" cols="50"></textarea>
    <input type="submit" value="Submit"> 
    </form>

<br><br>
</body>
{% endif %}

{% endif %}
  {% endblock %}
  
  
  