{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    // initialize a DataTable sorted by the 'Time of Last Message' column 
    // in reverse chronological order by default. Break ties alphabetically by name. 
    new DataTable($('#sort_date'), {
      order: [[1, 'desc'],[0,'asc']] 
    });
  })
</script>

<div class="page-div">
  
    <h2>My Messages Inbox</h2>
    <table class='table table-hover table-bordered container' id="sort_date">
        <thead class="quokka-brown">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Time of Last Message</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in interacted %}
            <tr>
              <td> 
                <a href="{{ url_for('feedback.public_profile', user_id=item[0])}}">{{ item[1] }}</a>
            </td>
              <td>{{item[2]}} <p style = "color:#804a03;">{{humanize_time(item[2])}}</p></td>
              <td>
                <form action="{{ url_for('messages.message_thread', other_user=item[0]) }}"
                    method="POST">
                    <input type="submit" value="View Message Thread"/> 
                    </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% else %}
<div class="page-div">
<p>Log in to see your messages!</p>
</div>
{% endif %}
{% endblock%}