
{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<!--doctype html-->
<html>
<head>
    <title>{{ current_user.firstname }} {{ current_user.lastname }} - Profile</title>
</head>
<body>
    <div class="container profile">
        <br><br>
        <h1>My Profile</h1>
        <div class="row">
            <div class="col-md-8">
                <p><strong>Balance:</strong> {{ current_user.balance }}</p>
                <p><strong>Name: </strong> {{ current_user.firstname }} {{ current_user.lastname }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Phone Number:</strong> {{ current_user.phone_number }}</p>
                <p><strong>Address:</strong> {{ current_user.address }}</p>
            </div>
        </div>
    </div>
    {% if not is_seller %}
    <form action="/register_seller">
        <button button style="margin:10px;" name=update_info>Register as Seller</button>
    </form>
    {% endif %}
</body>
</html>
{% else %}
<p>User is not authenticated.</p>
{% endif %}
{% endblock %}
