
{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<!--doctype html-->
<html>
<div class="page-div">
<head>
    <title>{{ current_user.firstname }} {{ current_user.lastname }} - Profile</title>
</head>
<body>
    <div class="container profile">
        <br><br>
        <h1>My Profile</h1>
        <div class="row">
            <div class="col-md-8">
                  <!-- Edit Info Button -->
    <div>
      <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-dark">Edit Info</a>
      <a href="{{ url_for('profile.top_up') }}" class="btn btn-dark">Top Up Balance</a>
</div>
                <p><strong>User ID:</strong> {{ current_user.id }}</p>
                <p><strong>Balance:</strong> {{ current_user.balance }}</p>
                <p><strong>Name: </strong> {{ current_user.firstname }} {{ current_user.lastname }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Phone Number:</strong> {{ current_user.phone_number }}</p>
                <p><strong>Address:</strong> {{ current_user.address }}</p>
            </div>
        </div>
    </div>
    {% if not is_seller %}
    <!-- Register as seller button  -->
    <form action="/register_seller">
        <button button style="margin:10px;" name=update_info>Register as Seller</button>
    </form>
    {% else %}

    {% if summary %}
    <hr>
    <p style="color:#804a03;"><b>Average Rating: {{summary[0]}} by {{summary[1]}} users</b></p>
    <div class="star-rating">
        {% if 1 <= summary[0] < 1.5 %}
        <span>★</span>★★★★   
        {% elif 1.5 <= summary[0] < 2.5 %}
        <span>★★</span>★★★   
        {% elif 2.5 <= summary[0] < 3.5 %}
        <span>★★★</span>★★       
        {% elif 3.5 <= summary[0] < 4.5 %}
        <span>★★★★</span>★       
        {% elif 4.5 <= summary[0] <= 5 %}
        <span>★★★★★</span> 
        {% else %}
        ★★★★★
        {% endif %}               
    </div>

    <!-- Show feedback table for this seller -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function(){
        // initialize a DataTable sorted by the 'Time Added or Updated' column 
        // in reverse chronological order by default.
        new DataTable($('#sortable'), {
        order: [[4, 'desc'],[0,'asc']] 
    });
    })
    </script>

  <table class='table table-hover table-bordered container' id="sortable">
    <thead class="quokka-brown">
      <tr>
        <th scope="col">User's Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Upvotes for Review</th>
        <th scope="col">Time Added or Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for item in sfeedback %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.rating}}</td>
          <td>{{item.review}}</td>
          <td>{{supvotes[(item.uid,item.sid)]}}
            {% if current_user.is_authenticated %}
              {% if my_supvotes[(item.uid,item.sid)] %}
              <form action="{{ url_for('feedback.remove_upvote_seller_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="seller" value="{{ item.sid }}"/>
                <input type="submit" value="Upvoted &#8593;" style="background-color: #137a56; color: #ffffff"/> 
              </form>
              {% else %}
              <form action="{{ url_for('feedback.upvote_seller_review') }}"
              method="POST">
                <input type="hidden" name="reviewer" value="{{ item.uid }}"/>
                <input type="hidden" name="seller" value="{{ item.sid }}"/>
                <input type="submit" value="Upvote &#8593;" /> 
              </form>
              <br>
              {% endif %}
            {% endif %}
          </td>
          <td>{{item.date_time}} <p style = "color:#804a03;">{{humanize_time(item.date_time)}}</p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <p style="text-indent: 75px; color:#804a03";><b>No users have left ratings and reviews for you yet.</b></p>
  {% endif %}
    {% endif %}
</body>
</html>
{% else %}
<p>User is not authenticated.</p>
{% endif %}
</div>
{% endblock %}
