{% extends "base.html" %}

<!--Page for viewing a table of all the purchases and orders for a seller to fulfill or has already fulfilled-->

{% block content %}
{% if current_user.is_authenticated and is_seller %}
<br>
<div class="page-div">
    <h2>My Orders:</h2>
  
    <script>
      $(document).ready(function(){
        // initialize a DataTable sorted by the 'Order Placed' column 
        // in reverse chronological order by default. Break ties alphabetically by order id. 
        new DataTable($('#sortable'), {
        order: []
      });
      })
    </script>
    <table class='table table-hover table-bordered container compact' id="sortable">
        <thead class="quokka-brown">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer Info</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Order Placed</th>
                <th scope="col">Date Fulfilled</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% if not order.date_fulfilled %}
            <tr style="background-color: #FFBFB2">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ order.order_id }}</td>
                <td>{{ user_class.get(order.uid).firstname + ' ' + user_class.get(order.uid).lastname}}<br>
                    {{ user_class.get(order.uid).email }}<br>
                    {{ user_class.get(order.uid).address }}
                    <form action="{{ url_for('messages.message_thread',other_user=order.uid) }}" method="POST">
                        <input type="submit" value="Message" > 
                      </form>
                </td>
                <td><a href="{{ url_for('products.product_detail',product_id=order.pid,option=0) }}">{{ product_class.get(order.pid).name }}</a></td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.time_purchased }}</td>
            {% if order.date_fulfilled %}
                <td>{{ order.date_fulfilled }}</td>
            {% else %}
                <td>
                    <form action="{{ url_for('allpurchases.fulfill', uid=order.uid, sid=current_user.id, pid=order.pid, oid=order.order_id) }}"
                    method="POST"
                    style="display:inline-block">
                    <input type="submit" value="Fulfilled?"/> 
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <br><br><p align="center">Only sellers can view their orders!</p>
{% endif %}
</div>
{% endblock %}