{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated and is_seller %}
<br>
<div style="color: aliceblue; text-align: right; margin-bottom: 25px">
    <a href="{{ url_for('inventory.inventory') }}" type="button" class="btn btn-dark">My Inventory</a>
</div>
    <h2>My Orders:</h2>
  
    <script>
      $(document).ready(function(){
        // initialize a DataTable sorted by the 'Order Placed' column 
        // in reverse chronological order by default. Break ties alphabetically by order id. 
        new DataTable($('#sortable'), {
        order: [[4, 'desc'],[0,'asc']]
      });
      })
    </script>
    <table class='table table-hover table-bordered container compact' id="sortable">
        <thead class="quokka-brown">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer Info</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Order Placed</th>
                <th scope="col">Date Fulfilled</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ user_class.get(order.uid).firstname + ' ' + user_class.get(order.uid).lastname}}<br>
                    {{ user_class.get(order.uid).email }}<br>
                    {{ user_class.get(order.uid).address }}
                </td>
                <td><a href="{{ url_for('products.product_detail',product_id=order.pid,option=0) }}">{{ product_class.get(order.pid).name }}</a></td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.time_purchased }}</td>
            {% if order.date_fulfilled %}
                <td>{{ order.date_fulfilled }}</td>
            {% else %}
                <td>
                    <form action="{{ url_for('allpurchases.fulfill', uid=order.uid, sid=current_user.id, pid=order.pid, oid=order.order_id) }}"
                    method="POST"
                    style="display:inline-block">
                    <input type="submit" value="Fulfilled?"/> 
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <br><br><p align="center">Only sellers can view their orders!</p>
{% endif %}

{% endblock %}