<!-- https://codepen.io/himaan/pen/gOMawjq-->
{% extends "base.html" %}

{% block content %}
<br>
<a style="color:grey;" href="{{ url_for('products.search_results', page=p, search_term=search_term) }}"> < Back to results</a>

<br>
<section id="product-info">

    <div class="item-image-parent">
        <div class="item-list-vertical">
            <div class="thumb-box">
                <img src="{{url_for('static', filename=product.image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=product.image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=product.image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=product.image)}}" alt="thumbnail" />
            </div>

        </div>
        <div class="item-image-main">
            <img src="{{url_for('static', filename=product.image)}}" alt="default" />
        </div>
    </div>
    <div class="item-info-parent">
        <div class="main-info">
            <h4 style="color:black; text-align: left; margin-left: 25px;">{{product.name}}</h4>
            {% if summary[0]%}
            <div class="star-rating">
              {% if 1 <= summary[0] < 1.5 %}
              <span>★</span>★★★★   
              {% elif 1.5 <= summary[0] < 2.5 %}
              <span>★★</span>★★★   
              {% elif 2.5 <= summary[0] < 3.5 %}
              <span>★★★</span>★★       
              {% elif 3.5 <= summary[0] < 4.5 %}
              <span>★★★★</span>★       
              {% elif 4.5 <= summary[0] <= 5 %}
              <span>★★★★★</span> 
              {% endif %}
            </div>
            {% else %}
            <div class="star-rating">
              ★★★★★
            </div>
            {% endif %}            
            
            <div class="select-items">
                <div class="description">
                    <p>Description: {{product.description}}</p>
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <p>Select an option:</p>
            {% endif %}
            <div name="selected_option">
                {% if inv_len == 0 %}
                    <p style="color:red;"> This item is out of stock</p>
                {% else %}
                    {% if current_user.is_authenticated %}
                    {% for i in inventory %}                        
                        <p style="text-align: center; display:inline;">
                          <a href="{{ url_for('feedback.seller_personal', seller_id=i.sid, logged_in=1)}}">{{ seller_names[i.sid] }}</a>
                          (<em>id: </em>{{ i.sid }}): ${{i.price}} ({{i.num_for_sale}} left!)
                          <br> Seller's Average Rating: {{seller_summary[i.sid][0]}} by {{seller_summary[i.sid][1]}} users
                        </p>
                        <form action="{{ url_for('cart.cart_add')}}" method="POST">
                            <input type="hidden" name="product_id" value="{{ i.pid }}"/>
                            <input type="hidden" name="seller_id" value="{{ i.sid }}"/>
                            <input type="hidden" name="saved_for_later" value="0"/>
  
                            <label style="color: black;" or ="quantity">Quantity:</label>
                            <input type="number" name="quantity" id="quantity"/>
                            
                            <input type="submit" value="Add to Cart"/>
                        </form>
                    {% endfor %}
                    {% else %}
                    {% for i in inventory %}          
                      <br><p style="text-align: center; display:inline;">
                        <a href="{{ url_for('feedback.seller_personal', seller_id=i.sid, logged_in=0)}}">{{ seller_names[i.sid] }}</a>
                        (<em>id: </em>{{ i.sid }}): ${{i.price}} ({{i.num_for_sale}} left!)
                        <br> Seller's Average Rating: {{seller_summary[i.sid][0]}} by {{seller_summary[i.sid][1]}} users
                      </p>
                      <br>
                    {% endfor %}
                    <p><br><b>Log in to add items to cart! </b> </p>
                    <br>
                    {% endif %}
                    
                {% endif %}
            </div>

        </div>
    </div>
</section>

  <div id="reviews">
    <hr>
    <h4 style="color: black;">Reviews</h4>
    {% if current_user.is_authenticated %}
    
    {% if has_purchased %}
    <p style="color:#804a03;  display:inline;"> You last purchased this product {{humanize_time(has_purchased[0][0])}} </p>

    {% if not my_product_feedback %}
    <form action="{{ url_for('feedback.product_submission_form', product_id=product.pid,name=product.name) }}"
    method="POST">
    <input type="submit" value="Leave feedback for this product"/> 
    </form>
    {% else %}
    <form action="{{ url_for('feedback.product_feedback_edit', product_id=product.pid) }}"
    method="POST">
    <input type="submit" value="Manage my feedback for this product"/> 
    </form>
    {% endif %}
    {% endif %}
    
    {% endif %}

    <p>Product's Average Rating: {{summary[0]}} by {{summary[1]}} users</p>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    // initialize a DataTable sorted by the 'Time Added or Updated' column 
    // in reverse chronological order by default.
    new DataTable($('#sortable_product_reviews'), {
    order: [[3, 'asc']] 
  });
  })
</script>

  <table class='table table-hover table-bordered container' id="sortable_product_reviews">
    <thead class="quokka-brown">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Time Added or Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for item in pfeedback %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.rating}}</td>
          <td>{{item.review}}</td>
          <td>{{humanize_time(item.date_time)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}