<!-- https://codepen.io/himaan/pen/gOMawjq-->
{% extends "base.html" %}

{% block content %}

<a style="color:grey;" href="{{ url_for('products.search_results', page=p, search_term=search_term) }}"> < Back to results</a>

<section id="product-info">

    <div class="item-image-parent">
        <div class="item-list-vertical">
            <div class="thumb-box">
                <img src="{{url_for('static', filename=image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=image)}}" alt="thumbnail" />
            </div>
            <div class="thumb-box">
                <img src="{{url_for('static', filename=image)}}" alt="thumbnail" />
            </div>

        </div>
        <div class="item-image-main">
            <img src="{{url_for('static', filename=image)}}" alt="default" />
        </div>
    </div>

    <div class="item-info-parent">
        <!-- main info -->
        <div class="main-info">
            <h4 style="color:black; text-align: left; margin-left: 25px;">{{product.name}}</h4>
            <div class="star-rating">
                <span>★★★★</span>★            
            </div>
            <p>Price: <span id="price">₹ 449.00</span></p>
        </div>
        <div class="select-items">
            <div class="description">
                <p>{{product.description}}</p>
            </div>
        </div>
        <button class="add-to-cart-button">Add to Cart</button>
    </div>
</section>

{% endblock %}