{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
{% if search_term == "" %}
    <p style= "margin-top: 10px; padding-left: 25px">Showing all {{len_products}} products</p>
{% else %}
    <p style= "margin-top: 10px; padding-left: 25px">Showing {{len_products}} search results for "{{search_term}}"</p>
{% endif %}
<table class='table table-hover table-bordered container'>
    <thead class="quokka-brown">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Prices</th>
        <th scope="col">Add To Wishlist</th>
        <th scope="col">View Sellers</th>
      </tr>
    </thead>
    <tbody>
      {% for product in items%}
        <tr>
          <td>{{product.pid}}</td>
          <td><a href="{{ url_for('products.product_detail', product_id=product.pid) }}">{{product.name}}</a></td>
          <td>
            {% if product.pid in product_prices %}
              {%for price in product_prices[product.pid]%}
                ${{ price }}
              {% endfor %}
            {% else %}
              Not in stock
            {% endif %}
          </td>
          {% if current_user.is_authenticated %}
          <td>
            <form action="{{ url_for('wishlist.wishlist_add', product_id=product.pid) }}"
                  method="POST">
                  <input type="submit" value="Add to Wishlist"/> 
            </form>
          </td>
          <td>
            <form action="{{ url_for('cart.cart_select', product_id=product.pid)}}"
                  method="POST">
                  <input type="submit" value="View"/> 
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class = "pagination">
    {% if total_pages > 1 %}
        {% if page > 1 %}
            <a id = "page" href="{{ url_for('products.search_results', page=page - 1, search_term=search_term) }}">Previous Page</a>
        {% endif %}
    
        {% for p in range(page, total_pages + 1) %}
            {% if p == page %}
                <span>{{ p }}</span>
            {% else %}
                <a id = "page" href="{{ url_for('products.search_results', page=p, search_term=search_term) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page < total_pages %}
            <a id = "page" href="{{ url_for('products.search_results', page=page + 1, search_term=search_term) }}">Next Page</a>
        {% endif %}
    {% endif %}
  
  </div>
</html>

{% endblock %}