{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>My Feedback for Sellers:</h2>
<p><a href="{{ url_for('sellerfeedback.sfeedback_uid_sorted_date') }}">View</a> all your feedback for sellers</p>
<p><a href="{{ url_for('sellerfeedback.sfeedback_uid_sorted_rating') }}">View</a> all your feedback for sellers sorted by rating</p>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Time Added</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.sid}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.review}}</td>
        <td>{{humanize_time(item.date_time)}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your ratings and reviews!</p>
{% endif %}

{% endblock %}
