
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Top Up</h2>
    <form method="POST" action="{{ url_for('profile.top_up') }}">
        <div class="form-group">
            <label for="added_money">Added Money</label>
            <input type="text" class="form-control" id="added_money" name="added_money" placeholder="Enter amount to top up" value= 0.00>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
