
{% extends "base.html" %}

{% block content %}
<!-- Page for adding money to user balance  -->
<br>
<div class="container">
    <h2 style="text-align: center;">Top Up</h2>
    {% if error %}
        <p style="color: red; text-align: center;">Amount is invalid!</p>
    {% endif %}
    <form class="add-product-form" method="POST" action="{{ url_for('profile.top_up') }}">
        <div class="form-group">
            <label for="added_money">Added Money</label>
            <input type="text" class="form-control" id="added_money" name="added_money" placeholder="Enter amount to top up" value= 0.00>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<br>
{% endblock %}
