{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Top {{k}} Expensive Products for sale:</h2>
<form action="{{ url_for('products.products') }}" 
      method="POST" >
  <label for="k">Enter K:</label>
  <input type="number" name="k" id="k" required>
  <input type="submit" value="Search">
</form>
<form action="{{ url_for('products.products') }}"
                  method="GET">
                  <input type="submit" value="Cancel"/> 
            </form>
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Prices</th>
    </tr>
  </thead>
  <tbody>
    {% for product in k_prod%}
      <tr>
        <td>{{product.pid}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        {% if current_user.is_authenticated %}
        <td>
            {% if is_seller%}
            <form action="{{ url_for('inventory.add', product_id=product.pid) }}" method="POST">
              <input type="submit" value="Add to Inventory"/> 
            </form>
            {% endif %}
        </td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}