{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>My Orders:</h2>
<!--display summary of all order info-->
<table class='table table-hover table-bordered container'>
  <thead class="quokka-brown">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">List of Products</th>
      <th scope="col">Total Price</th>
      <th scope="col">Fulfillment Status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td><a href="{{ url_for('cart.cart_order', order_id=item[0])}}">{{item[0]}}</a></td>
        <!--display the name as a link for each single product-->
        <td>{% for product in item[1] %}
        <a href="{{ url_for('products.product_detail',product_id=product[1]) }}">{{product[0]}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}</td>
        <!--total price-->
        <td>{{item[2]}}</td>
        <!--fulfillment status-->
        <td>{{item[3]}}</td>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your past orders!</p>
{% endif %}
{% endblock %}
